.container{
    width: calc(100% - 30%);
    margin: 0 auto;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*------------------NAVBAR-----------------------*/
.navbar{
    display: flex;
    background-color: #1d2124;
    justify-content: space-between;
    align-items: center;
}

.company{
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo{
    background-color: #1a1d20;
    margin-right: 6px;

}

.company-logo-icon{
    padding: 22px;
}

.company-name{
    font-family: OpenSans,sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.navbar-links {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: OpenSans,sans-serif;
    font-size: 15px;
    margin-right: 37px;
}
.navbar-links:last-of-type{
    margin-right: 0;
}

.search{
    background-color: #171a1c;
    margin-left: auto;
}

.search-icon{
    padding: 27px;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*--------------END OF NAVBAR--------------------*/


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*--------------Latest news----------------------*/

.latest-news{
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../img/header-bg.jpeg") fixed;
    background-position-y: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-news-header{
    font-family: OpenSans,sans-serif;
    font-size: 27px;
    color: white;
    margin-bottom: 45px;
}

.latest-news-subscribe{
    margin-right: 20px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: OpenSans,sans-serif;
    font-size: 18px;
    padding: 20px 21px;
    background-color: #89ca62;
}

.latest-news-best-articles{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-family: OpenSans,sans-serif;
    font-size: 18px;
    padding: 20px 32px;
    background-color: #14b9d5;
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*--------------END OF Latest news---------------*/




/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-------------Most Popular Posts----------------*/

.mpp{
    background-color: #f2f2f2;
}

.mpp-header{
    font-size: 27px;
    font-family: OpenSans,sans-serif;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
    padding-top: 43px;
    margin-bottom: 52px;
}

.mpp-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 900px;
    overflow: auto;
}

.mpp-content-items{
    background-color: #fff;
    margin-right: 30px;
    width: 370px;
    margin-bottom: 30px;
}

.mpp-content-items-text{
    font-size: 18px;
    font-family: OpenSans, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------END OF Most Popular Posts-----------*/



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------Our Most Popular Clients------------*/


.ompc{
    width: 100%;
    height: 590px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("../img/parallax-bg.jpeg") fixed;
    background-size: cover;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 75px;
}

.ompc-header{
    font-size: 32px;
    font-family: OpenSans, sans-serif;
    color: white;
    grid-column: 1/span 4;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}
.ompc-header:after{
    content: '';
    display: inline-block;
    border: 2px solid #169cb4;
    width: 60px;
    position: absolute;
    top: 100px;
    left: 400px;
}


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*--------END OF Our Most Popular Clients--------*/


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*----------------------Top Rated----------------*/

.tr{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto auto auto;
    overflow: auto;
}

.tr-header{
    font-size: 27px;
    font-family: OpenSans,sans-serif;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
    margin-top: 53px;
    margin-bottom: 52px;
    grid-column: 1/span 7;
}



/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*--------------END OF Top Rated-----------------*/


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*------------------Hot News---------------------*/

.hot-news{
    display: grid;
    grid-template-columns: repeat(4,277px);
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    /*gap: 40px;*/
    row-gap: 40px;
    column-gap: 30px;
}


.hot-news-header{
    font-size: 27px;
    font-family: OpenSans,sans-serif;
    color: #18b4cf;
    text-transform: uppercase;
    text-align: center;
    margin-top: 53px;
    margin-bottom: 52px;
    grid-column: 1/span 4;
}

.hot-news-items-text-span3{
    font-size: 14px;
    font-family: OpenSans, sans-serif;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 41px;
    color: #9a9fa2;
    text-align: right;
}
.hot-news-items-text-header-span3{
    margin-bottom: 22px;
    text-align: right;
}

.hot-news-items-text-span1{
    font-size: 14px;
    font-family: OpenSans, sans-serif;
    padding-left: 40px;
    display: inline-block;
    padding-top: 15px;
    color: #9a9fa2;
    text-align: center;
}

.hot-news-items-text-header{
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    font-weight: bold;
    display: block;
    color: #353a3d;
    margin-bottom: 25px;
}

.hot-news-items-span3{
    grid-column-end: span 3;
    /*width: 856px;*/
    display: flex;
    background-color: #f9f7f7;
}

.hot-news-items-span2{
    grid-column-end: span 2 ;
    /*width: 554px;*/
    background-color: #f9f7f7;
    margin-right: 26px;
}

.hot-news-items-text{
    text-align: right;
    color: #9a9fa2;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
    padding: 20px 27px 20px 22px;
}

.hot-news-items{
    background-color: #f9f7f7;
}

.margin-right{
    margin-right: 26px;
}
.margin-left{
    margin-left: 26px;
}


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*---------------END OF Hot News-----------------*/


/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*--------------------Footer---------------------*/

.footer {
    margin-top: 71px;
    color: white;
    background-color: #1d2124;
    display: flex;
    justify-content: space-evenly;
}

.footer-text {
    margin-top: 34px;
    margin-bottom: 33px;
    background-color: #1d2124;
}

.footer-logo {
    margin-top: 30px;
    display: flex;
    align-items: flex-start
}

/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*-----------------------------------------------*/
/*------------------End of Footer----------------*/
