/********** FONTS IMPORTS STARTS **********/
@import "font.css";
/********** FONTS IMPORTS ENDS **********/

/**********GENRAL Classes Starts**********/
.container {
    width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.aquamarine-text {
    color: #18cfab;
}

.uppercase {
    text-transform: uppercase;
}

.white-text {
    color: white;
}

.section-header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #4e4e4e;
    margin-bottom: 112px;
    position: relative;
}

.section-header:after {
    content: " ";
    display: inline-block;
    border-bottom: 1px solid #18cfab;
    width: 76px;
    position: absolute;
    bottom: -41px;
    left: 552px;
}

.section-header:before {
    content: " ";
    display: inline-block;
    border-bottom: 1px solid #18cfab;
    width: 76px;
    position: absolute;
    bottom: -37px;
    left: 540px;
}


/**********GENRAL Classes ENDS**********/


/********************HEADER STARTS*********************/

/********************HEADER NAVBAR Starts*****************/

.header {
    background: url("../img/Sections background/section-1(header).jpg");
    background-size: cover;
    padding-bottom: 244px;
    color: white;
}

.header-nav-container {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding: 55px 0;
    color: #b8b8b8;
    text-decoration: none;
    margin-left: 20px;
    border-bottom: 2px solid transparent;
}

.nav-links:hover {
    color: #18cfab;
    border-bottom: 2px solid #18cfab;
}

.header-flex {
    display: flex;
}

.nav-links-header-logo {
    display: flex;
    color: white;
    align-items: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-right: auto;
}

.header-polygon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: #18cfab;
    font-size: 40px;
    color: white;
    padding: 19px 16px;
    margin-right: 10px;
}

.nav-links-icon {
    color: #b8b8b8;
    font-size: 22px;
    margin-left: 15px;
}

/********************HEADER NAVBAR ENDS*****************/


/********************HEADER Content STARTS*****************/

.header-content {
    margin-top: 246px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.header-slogan {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 70px;
    margin-top: 45px;
}

.header-text {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 35px;
    color: #c5c5c5;
}

.header-buttons {
    text-align: center;
    margin-top: 142px;
}

.header-buttons-green {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 26px 32px;
    font-size: 13px;
    background-color: #18cfab;
    border-radius: 5px;
    border-top: 4px solid white;
    margin-right: 28px;
    display: inline-block;
}

.header-buttons-blue {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 26px;
    font-size: 13px;
    background-color: #00cbf6;
    border-radius: 5px;
    border-top: 4px solid white;
    display: inline-block;
}

/********************HEADER Content ENDS*****************/


/********************HEADER ENDS*********************/


/********************CARDS STARTS*********************/

.cards {
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    height: 374px;
    margin-bottom: 82px;
}

.card-container {
    display: grid;
    grid-template-rows: 65% 35%;
}

.card-container-bgDark {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}


.card-container-bgBright {
    background-color: #18cfab;
    border-top: 7px solid white;
}

.card-photo {
    justify-self: center;
    align-self: center;
}

.card-text {
    justify-self: center;
    align-self: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

/********************CARDS ENDS*********************/


/********************OUR SERVICES STARTS*********************/

.tabs-btns {
    text-align: center;
    margin-bottom: 24px;
}

.tabs-buttons-design {
    padding: 28px 0;
    width: 193px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #7a7a7a;
    background-color: #f8fcfe;
    border: 0.5px solid #ebebeb;
    position: relative;
}

.tabs-buttons-design:focus {
    outline: none;
}

.tabs-buttons-design:hover {
    cursor: pointer;
}

.tabs-buttons-design-active {
    background-color: #18cfab;
    color: white;
}

.tabs-buttons-design-active:after {
    content: '';
    display: block;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;

    border-top: 13px solid #18cfab;
    position: absolute;
    left: 85px;
    top: 70px;
}

.tabs-content {
    display: flex;
}

.tabs-content-photo {
    margin-right: 20px;
    margin-bottom: 100px;
}

.tabs-content-text {
    color: #777777;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}


/********************OUR SERVICES ENDS*********************/

/********************Purchase STARTS*********************/

.purchase {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/Sections background/section-2.jpg"), no-repeat;
    background-position-y: center;
    background-size: cover;
    padding: 127px 0;
    text-align: center;
}

.purchase-slogan {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 35px;
}

.purchase-text {
    color: #949292;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 76px;
}

.purchase-button {
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding: 26px 32px;
    font-size: 13px;
    background-color: #18cfab;
    border-radius: 5px;
    border-top: 4px solid white;
    margin-right: 28px;
}

/********************Purchase ENDS*********************/


/********************OUR AMAZING WORK Starts*********************/

.our-aw {
    padding: 100px 0;
    background-color: #f8fcfe;
}

.our-aw-tabs-btns {
    text-align: center;
    margin-bottom: 70px;
}

.oaw-btn {
    padding: 25px;
    border: 0.5px solid #ebebeb;
    color: #8d8d8d;
    background-color: white;
}

.oaw-btn:focus {
    outline: none;
}

.oaw-btn:hover {
    cursor: pointer;
}
.oaw-btn-active {
    box-shadow: 0 -2px 0 0 rgba(24, 207, 171, 1);
    color: #18cfab;
}

.our-aw-tabs {
    text-align: center;
}

.our-aw-tabs-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 206px;
    /*grid-auto-rows: auto;  //Even though auto looks more logical, for some reason auto has 3 extra pixels */
    padding: 0 12px;
}

.oaw-load-more {
    background-color: #18cfab;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: baseline;
    margin: 70px auto 0;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
}

.oaw-load-more:focus {
    outline: none;
}

.oaw-load-more-plus {
    display: inline-block;
    padding: 22px 0;
    margin-right: 16px;
    font-size: 20px;
}

.our-aw-tabs-content-item {
    position: relative;
    overflow: hidden;
}


.our-aw-tabs-content-item-hover {
    position: absolute;
    border-top: 3px solid transparent;
    background-color: #f8fcfe;
    visibility: hidden;
}

.our-aw-tabs-content-item:hover .our-aw-tabs-content-item-hover {
    visibility: visible;
}

.our-aw-tabs-content-item-hover:hover {
    border-top: 3px solid #18cfab;
}


.hover-icon {
    padding: 15px;
    color: #18cfab;
    border-radius: 50%;
    border: 1px solid #18cfab;
    margin: 43px 0 34px 0;
}

.hover-icon:first-of-type {
    margin-left: 90px;
    margin-right: 5px;
}

.hover-icon:last-of-type {
    margin-right: 93px;
}

.hover-icon:hover {
    color: white;
    background-color: #18cfab;
}

.hover-header {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #18cfab;
    margin-bottom: 14px;
}

.hover-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #8a8a8a;
    margin-bottom: 20px;
}


/********************OUR AMAZING WORK ENDS*********************/


/********************OUR AMAZING WORK ANIMATION STARTS*********************/
.load-wrapp {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
}


.ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #18cfab;
    border-radius: 100%;
}

.ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #18cfab;
}

.load-5 .ball-holder {
    animation: loadingE 1.3s linear infinite;
}

.l-5 {
    animation-delay: .96s;
}

@keyframes loadingE {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/********************OUR AMAZING WORK ANIMATION ENDS*********************/


/********************BREAKING NEWS STARTS*********************/

.breaking-news {
    margin-top: 85px;
    margin-bottom: 133px;
}


.breaking-news-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 263px);
    column-gap: 29px;
    row-gap: 45px;
}

.breaking-news-items {
    background-color: #f8fcfe;
    position: relative;
}

.breaking-news-items-header {
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 19px;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 14px;
}

.breaking-news-items:hover .breaking-news-items-header {
    color: #18cfab;
}

.breaking-news-items-text {
    display: inline-block;
    color: #777777;
    margin-left: 17px;
    margin-bottom: 12px;
}

.breaking-news-items-text:first-of-type {
    padding-right: 10px;
    border-right: 1px solid #777777;
}


.breaking-news-items-date {
    position: absolute;
    top: 0;
    right: 0;
}

.breaking-news-items-date-text {
    padding: 15px 20px;
    background-color: #203e38;
    color: white;
}

.breaking-news-items:hover .breaking-news-items-date-text {
    background-color: #18cfab;
}


/********************BREAKING NEWS ENDS*********************/

/********************Feedback STARTS*********************/

.feedback-bgc {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Sections background/section-3.jpg");
    background-size: cover;
    padding: 100px 0;
}

.feedback {
    text-align: center;
}

.feedback-header {
    color: white;
}

.feedback-quotes {
    margin-top: 70px;
    margin-bottom: 45px;
}

.carousel-container {
    padding: 0 360px;
}

.feedback-carousel-big {
    margin-bottom: 55px;
}

.carousel-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    margin-bottom: 45px;
}

.carousel-name {
    color: #18cfab;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}

.carousel-position {
    color: #bbbbbb;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-bottom: 37px;
}


.carousel-photo {
    width: 142px;
    height: 142px;
    border-radius: 50%;
    border: 3px solid #18cfab;
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 6px rgba(24, 207, 171, 0.5);
    display: inline-block;
}


.carousel-big-item {
    display: inline-block;
}

.carousel-little-item{
    padding: 10px 0;
}

.carousel-little-photo{
    margin-left: 52px;
    border-radius: 50%;
    border: 1px solid rgba(24, 207, 171, 0.5);
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 3px rgba(24, 207, 171, 0.5);
    display: inline-block;
}

.slick-center>div>div>img{
    border: 2px solid #18cfab;
    margin-top: -20px;
}

/*.slick-slide{*/
/*    position: relative;*/
/*}*/
/*.slick-center{*/
/*    position: absolute;*/
/*    top: -15px*/
/*}*/

/********************Feedback ENDS*********************/


/********************FOOTER STARTS*********************/

.footer {
    background-color: #22353f;
    text-align: center;
    color: #aeaeae;
    padding: 47px 0;
}

/********************FOOTER ENDS*********************/
