.navbar{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar li{
    padding: 35px 70px;
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color: #54b9a6;
    font-family: sans-serif;
    font-size: 18px;
}


.title{
    font-family: sans-serif;
    font-size: 22px;
    text-align: center;
}
.paragraph{
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    padding: 0 110px;
}



.overlay img {
    width: 100%;
    height: auto;
    color: rgba(0,0,0, 0.7);
    margin: 0;
}
.overlay{
    background-color: rgba(0,0,0,0.7);
}

.get-started-button {
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    color: #ffffff;
    background-color: #16a085;
    padding: 20px 45px;
    display: block;
    border: none;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
}

.content{
    background-color: #f5f6f7;
}

.footer{
    text-align: right;
    font-family: sans-serif;
    font-size: 16px;
    margin-right: 107px;
    margin-top: 50px;

}