.image-to-show {
    width: 400px;
    height: 400px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.control-buttons{
    width: 50px;
    height: 20px;
    margin-left: 10px;
}