@import 'font.css';

.taable{
    display: flex;
    justify-content: center;
}

/*Temporary backgrpund for header*/
thead{
    background-color: #fafafa;
}

/*Temporary backgrpund for footer*/
tfoot{
    background-color: #eeeeee;
}
/*Temporary backgrpund for footer*/
tbody{
    background-color: yellow;
}

table{
    border: 25px solid #394864;
    text-align: center;
    vertical-align: center;
}

td{
    width: 277px;
    height: 69px;
    vertical-align: middle;
    box-shadow: 6px 0px 15px 3px rgba(218,218,218,1);
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
}

tbody>tr:nth-child(even){
    background-color: #e3e3e3;
}

tbody>tr:nth-child(odd){
    background-color: #f2f2f2;
}



.green-bg{
    background-color: #89c331;
}
.red-bg{
    background-color: #f04a56;
}
.blue-bg{
    background-color: #20807c;
}
.black-bg{
    background-color: #484848;
}

.table-header-little{
    font-size: 18px;
    text-transform: uppercase;
    color: #484848;
}

.table-header-big {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #484848;

}
.subscription-type{
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
}

.price{
    font-size: 60px;
    position: relative;
}
.price:after{
    content: ".99";
    font-size: 24px;
    position: absolute;
    top: 11px;
    right: -37px;
}

.price-cents{
    font-size: 18px;
}



.icon{
    font-size: 20px;
    color: #848484;
}

.footer-buttons{
    color: white;
    width: 192px;
    height: 49px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
}

.blacl-sh{
    box-shadow: #404040 0 7px;
}

.green-sh{
    box-shadow: #79b027 0 7px;

}

.red-sh{
    box-shadow: #df3a46 0 7px;
}
.blue-sh{
    box-shadow: #16736f 0 7px;
}

.blacl-sh:hover{
    color: #404040;
    background-color: white;
    box-shadow: gray 0 7px;
    cursor: pointer;
}

.green-sh:hover{
    box-shadow: lightgreen 0 7px;
    color: #79b027;
    cursor: pointer;
    background-color: white;
}

.red-sh:hover{
    box-shadow: pink 0 7px;
    color: #df3a46;
    cursor: pointer;
    background-color: white;
}

.blue-sh:hover{
    box-shadow: teal 0 7px;
    color: #16736f;
    cursor: pointer;
    background-color: white;
}