@media screen and (min-width: 410px) and (max-width: 639px) {
  html {
    font-size: 15px;
  }
}

@media screen and(min-width: 640px) and (max-width: 979px) {
  html {
    font-size: 20px;
  }
  .navbar {
    .change {
      .navbar__burger-line-1 {
        transform: rotate(-45deg) translate(-7px, -1px);
      }

      .navbar__burger-line-3 {
        transform: rotate(45deg) translate(-9px, -5px);
      }
    }
  }
}
