@media screen and (min-width: 980px){
  .navbar {
    padding: 0.8rem 3rem 0.6rem 3rem;

    &-links {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      color: white;
      font-size: 1.5rem;
      font-family: 'Lato', sans-serif;

      &-item {
        margin-right: 3rem;
      }

      &-photo {
        margin-left: auto;
      }
    }

    &__title, &__burger {
      display: none;
    }
  }

  .header-photo {
    padding: 6.4rem 0 26rem 3rem;
    background-image: url("../img/headerPhoto980.png");

    &-text {
      font-size: 5.4rem;
      margin-bottom: 5.7rem;
    }

    &-link {
      font-size: 3.4rem;
    }
  }

  .cards {
    flex-direction: row;

    .card-container {
      display: block;
      width: calc(100%/3);
      .card-item-pizza {
        background-image: url("../img/Pizza delivery fon copy@2X.png");
        &-text {
          font-size: 3.8rem;
          padding: 44% 0;
        }
      }

      .card-item-UA{
        background-image: url("../img/UA_UX Salads fon copy@2X.png");
        background-position: 0 0;
        &-text{
          font-size: 3.8rem;
          padding: 44% 0;
        }
      }

      .card-item-dessert{
        flex-basis: 78.882%;
        background-image: url("../img/Desserts fon copy@2X.png");
        &-text{
          font-size: 3.8rem;
          padding: 44% 0;
        }
      }

      .card-arrow {
        display: none;
      }
    }
  }

  .content{
    .content-header{
      padding-left: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.1rem;
      &-slogan{
        &-text{
          font-size: 3rem;
        }
        &-secondary-text{
          font-size: 1.7rem;
        }
      }
      &-logo{
        display: block;
        margin-right: 3rem;
      }
    }

    .content-itself{
      flex-direction: row;
      .content-food{
        width: calc(100%/2);
        &-header{
          font-size: 2.5rem;
          letter-spacing: 0.5px;
        }

        &-header-secondary-container {
          margin-top: 3rem;
          margin-bottom: 3.5rem;
          .content-food-header-secondary-text {
            font-size: 2.3rem;
          }

          .content-food-header-secondary-icon {
            font-size: 4.2rem;
          }
        }

        .menu {
          &-item {
            margin-bottom: 1.8rem;
            &-name {
              font-size: 2.1rem;
            }
            &-price {
              font-size: 2.1rem;
              font-weight: bold;
            }
          }
          &-item-description {
            font-size: 1.5rem;
            margin-bottom: 2.4rem;
          }
        }
      }
    }
  }

  .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8.4rem;
    &-logo{
      display: block;
      margin: 0.7rem 0 0.7rem 3rem;
    }
    &-text-container{
      padding: 0;
      margin-right: 3rem;
      .footer-text{
        display: inline-block;
        font-size: 1.8rem;
      }
    }
  }
}
