body {
    background-color: black;
    width: 100%;
    height: 100%;
    overflow: hidden
}

@keyframes text-animation {
    0% {
        top: 700px;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}

.star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: fantasy, sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
}

.animation {
    position: relative;
    transform-origin: 50% 100%;
    animation-name: text-animation;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}