.cards{
  display: flex;
  flex-direction: column;
  .card-container{
    display: flex;
    
    .card-item-pizza{
      flex-basis: 78.882%;
      background-image: url("../img/Pizza delivery fon copy 3@1X.png");
      background-position: bottom right;
      background-size: cover;
      &-text{
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        padding: 2.7rem 0 2.8rem 0;
        text-align: center;
      }
    }
    
    .card-item-UA{
      flex-basis: 78.882%;
      background-image: url("../img/UA_UX Salads fon copy 3@1X.png");
      background-position: 0 8.3rem;
      background-size: cover;
      &-text{
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        padding: 3rem 0 2.8rem 0;
        text-align: center;
      }
    }
    
    .card-item-dessert{
      flex-basis: 78.882%;
      background-image: url("../img/Desserts fon copy 3@1X.png");
      background-size: cover;
      &-text{
        color: #ffffff;
        font-size: 2rem;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        padding: 3rem 0 3rem 0;
        text-align: center;
      }
    }
    
    .card-arrow{
      background-image: url("../img/Layer 13 copy 5@1X.png");
      background-size: cover;
      flex-basis: 22.118%;
    }
  }
}