.content {
  &-header {
    padding: 0 0.8rem 0 0.9rem;
    margin-top: 2.6rem;
    margin-bottom: 1rem;

    &-slogan {
      .content-header-slogan-text {
        font-family: 'Lato', sans-serif;
        font-size: 1.8rem;
        letter-spacing: 0.1rem;
        color: #3f4043;
        text-transform: uppercase;
        margin-bottom: 0.4rem;
      }

      .content-header-slogan-secondary-text {
        color: #d9dadb;
      }
    }

    &-logo{
      display: none;
    }
  }

  .content-itself {
    display: flex;
    flex-direction: column;

    .content-food {
      &-header {
        padding: 1.2rem 0 1.1rem 1.9rem;
        background-color: #3f4043;
        font-family: 'Lato', sans-serif;
        font-size: 1.9rem;
        color: $green;
        text-transform: uppercase;
        margin-bottom: 1.1rem;
      }

      &-header-secondary-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.6rem;
        margin-top: 1.3rem;

        .content-food-header-secondary-text {
          font-family: 'Lato', sans-serif;
          font-size: 1.5rem;
          color: #3f4043;
          margin-left: 1.9rem;
          text-transform: uppercase;
        }

        .content-food-header-secondary-icon {
          color: $green;
          font-size: 2.5rem;
          margin-right: 1.8rem;
        }
      }

      .menu {
        padding: 0 1.8rem 0 1.8rem;

        &-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.9rem;

          &-name {
            font-family: 'Lato', sans-serif;
            font-size: 1.35rem;
            color: #3f4043;
          }

          &-price {
            font-family: 'Lato', sans-serif;
            font-size: 1.35rem;
            color: #3f4043;
            font-weight: bold;
          }
        }

        &-item-description {
          font-family: 'Lato', sans-serif;
          font-size: 0.75rem;
          color: #59595c;
          margin-bottom: 1rem;
        }
      }
    }

    .bcg-green-white-text {
      background-color: $green;
      color: white;
    }
  }
}