.footer{
  background-color: $green;
  &-logo{
    display: none;
  }
  &-text-container{
    padding: 1.3rem 11.875%  1.1rem 12.81%;
  }
  &-text{
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
  }
}