.header-photo{
  background: url("../img/headerPhoto.png");
  background-size: cover;
  background-position-y: center;
  padding-top: 1.9rem;
  padding-left: 2rem;
  padding-bottom: 9.4rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
  &-text{
    font-family: 'Lato', sans-serif;
    font-size: 1.585rem;
    color: white;
    font-weight: 500;
  }
  &-text:first-of-type{
    margin-bottom: 0.7rem;
  }
  &-link{
    margin-top: 11px;
    display: inline-block;
    color: #97c0c8;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    text-decoration: none;
  }
}