.navbar {
  display: flex;
  background-color: $darkGrey;
  padding: 0 0 0 1.85rem;
  justify-content: space-between;
  align-items: center;

  &-links{
    display: none;
  }
  &-links-active-mobile{
    display: block;
    position: absolute;
    right: 0;
    background-color: #fafafa;
    color: #444444;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    .navbar-links-item{
      padding: 1.2rem 9.6rem 1.2rem 1.2rem;
      border-bottom: 0.1rem solid #e9e9e9;
      font-family: 'Lato', sans-serif;
    }
    .navbar-links-photo{
      display: none;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.39rem;
    color: white;
    //padding-right: 19.5rem;
  }
  &__burger {
    padding: 1.2rem 1.2rem 1.2rem 1.3rem;
    background-color: #202529;
    &-line-1, &-line-2, &-line-3 {
      width: 1.5rem;
      height: 0.2rem;
      margin-bottom: 0.2rem;
      background-color: white;
      transition: 0.4s;
    }
  }
  .change{
    .navbar__burger-line-2{
      opacity: 0;
    }
    .navbar__burger-line-1{
      transform: rotate(-45deg) translate(-3px, 1px) ;

    }
    .navbar__burger-line-3{
      transform: rotate(45deg) translate(-4px, -3px) ;
    }
  }
}