@import "reset";
/** if you have separate file for variables and mixins, or fonts - import it here **/

html{
  font-size: 10px;
}
$darkGrey:#373c3f;
$green:#acd8ad;

@import "navbar";
@import "headerPhoto";
@import "card";
@import "content";
@import "footer";


@import "media/all-media";