.container{
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price{
    margin: 10px;
}

.spans{
    border: 1px solid gray;
    color: gray;
    border-radius: 5px;
    padding: 5px;
}

.close-button{
    border: 1px solid gray;
    color: gray;
    border-radius: 50%;
    padding: 1px 4px 2px;
    vertical-align: top;
    cursor: pointer;
}